.w-89{
  width: 89% !important;
}
body::-webkit-scrollbar {
  width: 1em !important;
}
body::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3) !important;
}

body::-webkit-scrollbar-thumb {
background-color: darkgrey !important;
outline: 1px solid slategrey !important;
}
.react-calendar {
  border: none !important;
}
.calendar-header {
  margin-bottom: 30px;
}
.react-calendar__tile {
  font-size: 16px;
  font-weight: 400;
}
.react-calendar__navigation button {
  font-size: 20px;
  font-weight: 400;
  color: #111317;
  @media (max-width: 500px) {
    font-size: 12px;
  }
}
.react-calendar__month-view__days__day--weekend {
  color: #000 !important;
}

.react-calendar__month-view__weekdays {
  font-weight: 500;
  font-size: 14px;
  text-align: center;
  color: rgba(60, 60, 67, 0.3);
  abbr {
    text-decoration: unset !important;
  }
}
.react-calendar__tile--active,
.react-calendar__tile--now {
  background: none !important;
  abbr {
    background: linear-gradient(93.88deg, #49a8f8 6.88%, #0053f4 74.45%);
    width: 27px;
    height: 27px;
    padding: 4px;
    border-radius: 50%;
    color: #fff;
  }
}

.modal {
  backdrop-filter: blur(3px) !important;
  border: none;
}
.modal-backdrop {
  background: rgba(29, 30, 44, 0.32) !important;
  // opacity:0.9em;
  backdrop-filter: blur(50px) !important;
}
.modal-content {
  border-radius: 40px !important;
  padding: 32px 49px;
  border: none !important;
}
.modal-cstm-button {
  padding-right: 8px;
  position: absolute;
  top: 32px;
  right: 32px;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background: #c0ccda;
  color: #fff;
}

.top-right-modal {
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  display: flex;
  background: rgba(29, 30, 44, 0.32) !important;
  justify-content: center;
  align-items: center;
  z-index: 1050;
  backdrop-filter: blur(4px) !important;

  .top-right-modal-content {
    // background-color: #fff;
    position: absolute;
    right: 98px;
    top: 25px;
    @media (max-width: 800px) {
      right: 55px;
      top: 18px;
    }
    @media (max-width: 500px) {
      right: 35px;
    }
    // border-radius: 40px !important;
    // padding: 50px 45px;
  }
}

table {
  border-collapse: separate !important;
}
.r-table {
  // border: initial;
  th.sortable:hover {
    color: #2062f4 !important;
  }

  thead {
    th {
      box-shadow: initial;
      border: initial;
      text-align: left;
      font-weight: 700;

      &.sorted-asc {
        box-shadow: inset 0 3px 0 0 #2062f4;
      }

      &.sorted-desc {
        box-shadow: inset 0 -3px 0 0 #2062f4;
      }
    }
  }

  tr {
    td,
    th {
      padding-top: 20px;
      padding-bottom: 16px;
      border: initial;
    }

    th {
      // padding-left: 2em;
      padding-bottom: 0px;
      font-size: 12px;
      font-weight: 500;
      color: #04004d;
    }
  }

  tbody {
    tr {
      td {
        // border-bottom: 1px solid #d7d7d7;
        // background: #fff;
      }
    }

    tr:last-of-type {
      td {
        border-bottom: initial;
      }
    }
  }
}

.table-divided-row {
  border-collapse: separate;
  border-spacing: 0px 0.6rem;
  padding-bottom: 29px;
  width: 100% !important;
  margin-top: 0 !important;
  margin-bottom: 0 !important;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  th {
    padding-left: 2em !important;
    padding-bottom: 9px !important;
    border-bottom: 1px solid #d7d7d7 !important;
    font-weight: 500 !important;
    font-size: 12px !important;
    color: #04004D !important;
  }

  td {
    padding-top: 20px;
    // padding-bottom: 20px;
    padding-left: 2em !important;
    border-bottom: 1px solid #d7d7d7;
    outline: initial !important;
    background: #fff;
  }
  .table-row {
    background: #fff;
    border-radius: 20px;
    width: 100%;
    border-bottom: 1px solid red;

    &.table-row-shadow {
      box-shadow: 2px 4px 10px rgba(0, 0, 0, 0.05);
      margin-bottom: 30px;
    }
  }

  tr:last-of-type td {
    border-bottom: initial;
  }

  p,
  h6 {
    margin-bottom: initial;
  }

  tbody {
    > tr[role="row"] > td:first-child:before,
    > tr[role="row"] > th:first-child:before {
      top: unset;
      box-shadow: initial;
      background-color: #2062f4;
      font-size: 12px;
    }

    tr {
      &:last-child {
        td {
          border: none !important;
        }
      }
      td {
        padding: 0.75rem 32px;
        border-bottom: 1px solid #d7d7d7 !important;

        li {
          padding: 0 !important;
        }
      }
    }
  }

  td,
  th {
    padding: 1.5rem;
    border: initial;
  }

  th.empty {
    &:before,
    &:after {
      content: "";
    }
  }
}

.table-divided {
  border-collapse: separate;
  border-spacing: 0px 0.6rem;
  padding-bottom: 29px;
  width: 100% !important;
  margin-top: 0 !important;
  margin-bottom: 0 !important;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  th {
    padding-left: 2em !important;
  }

  td {
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 2em !important;

    // border-bottom: 1px solid #d7d7d7;

    outline: initial !important;
    background: #fff;
  }
  .table-row {
    background: #fff;
    padding: 0 32px !important;
    margin-bottom: 25px;
    border-radius: 20px;
    width: 100%;
    &.table-row-shadow {
      box-shadow: 2px 4px 10px rgba(0, 0, 0, 0.05);
      margin-bottom: 30px;
    }
  }
  tr:last-of-type td {
    border-bottom: initial;
  }

  p,
  h6 {
    margin-bottom: initial;
  }

  tbody {
    > tr[role="row"] > td:first-child:before,
    > tr[role="row"] > th:first-child:before {
      top: unset;
      box-shadow: initial;
      background-color: #2062f4;
      font-size: 12px;
    }

    tr {
      border-radius: 20px !important;
      td {
        padding: 0.75rem 32px;
        &:first-child {
          // border-top: 20px;
          border-top-left-radius: 20px;
          border-bottom-left-radius: 20px;
        }
        &:last-child {
          // border-top: 20px;
          border-top-right-radius: 20px;
          border-bottom-right-radius: 20px;
        }

        li {
          padding: 0 !important;
        }
      }
    }
  }

  td,
  th {
    padding: 1.5rem;
    border: initial;
  }

  th.empty {
    &:before,
    &:after {
      content: "";
    }
  }
}

.rounded {
  .table-divided {
    tr {
      border-radius: 20px;
    }
    td {
      border-radius: initial;
      &:first-child {
        border-top-left-radius: 20px;
        border-bottom-left-radius: 20px;
      }

      &:last-child {
        border-top-right-radius: 20px;
        border-bottom-right-radius: 20px;
      }
    }
  }
}

.rtl {
  .rounded {
    .table-divided {
      &table {
        td {
          border-radius: initial;
          &:first-child {
            border-top-right-radius: 20px;
            border-bottom-right-radius: 20px;
          }

          &:last-child {
            border-top-left-radius: 20px;
            border-bottom-left-radius: 20px;
          }
        }
      }
    }
  }
}

.responsive-table {
  @media only screen and (max-width: 800px) {
    /* Force table to not be like tables anymore */
    table,
    thead,
    tbody,
    th,
    td,
    tr {
      display: block;
    }

    /* Hide table headers (but not display: none;, for accessibility) */
    thead tr {
      position: absolute;
      top: -9999px;
      left: -9999px;
    }

    tr {
      border: 1px solid #ccc;
    }

    td {
      /* Behave  like a "row" */
      border: none;
      border-bottom: 1px solid #eee;
      position: relative;
      padding-left: 50%;
      white-space: normal;
      text-align: left;
    }

    td:before {
      /* Now like a table header */
      position: absolute;
      /* Top/left values mimic padding */
      top: 6px;
      left: 6px;
      width: 45%;
      padding-right: 10px;
      white-space: nowrap;
      text-align: left;
      font-weight: bold;
    }

    /*
      Label the data
      */
    td:before {
      content: attr(data-title);
    }
  }
}

.pagination-md .page-link {
  padding: 6px 12px !important;
  font-size: 14px;
  background: transparent;
  color: black;
  border: none;
  margin: 3px 4px 0;
}

.page-item.disabled .page-link {
  background: unset !important;
}
.page-item.active .page-link {
  background: #2062f4;
  border-radius: 3px;
  &:focus {
    outline: none !important;
    border: 1px solid rgba(32, 98, 244);
    box-shadow: unset;
  }
}

.page-link:focus {
  // z-index: 3;
  // color: #0a58ca;
  // background-color: #e9ecef;
  // outline: 0;
  box-shadow: unset;
}

.page-link:hover {
  // z-index: 2;
  // color: #0a58ca;
  // background-color: #e9ecef;
  box-shadow: unset;

  border: unset;
}
.modal-sm{
  max-width: 380px !important;
}
.delete-modal{
  margin-top: 4rem;
}
.delete-modal-subtext{
  font-weight: 400;
  font-size: 14px;
}
.delete-btn, .primary-btn{
    background: linear-gradient(93.88deg, #49A8F8 6.88%, #0053F4 74.45%);
    border-radius: 16px;
    color: #fff;
    border: none;
    padding: 12px;
    width: 100%;
}
.cancel-btn{
  background-color: #ccc;
  color: #fff;
  margin-left: 12px;
}
.cancel-btn:focus{
  box-shadow: 0 0 0 0.25rem rgba(175, 177, 179, 0.25) !important;
}

.dropdown-container{
  font-size: 14px !important;
  border-radius: 14px !important;
  inset: 60% 0 auto auto !important;
  .dropdown-items{
   padding: 0.5rem 1rem !important;
  }
}

