
.modal-backdrop {
  background: rgba(29, 30, 44, 0.32) !important;
  // opacity:0.9em;
  backdrop-filter: blur(50px) !important;
}
.modal-content {
  border-radius: 40px !important;
  padding: 32px 49px;
}
.modal-cstm-button{
    padding-right: 8px;
    position:absolute;
    top:32px;
    right:32px;
    width:25px;
    height: 25px;
    border-radius:50%;
    background: #C0CCDA;
    color:#fff;
}


.modal-dialog.modal-dialog-topRight{
// top:10px;
// right:-630px;
}