@mixin placeholder {
    &::-webkit-input-placeholder {
        @content
    }

    &:-moz-placeholder {
        @content
    }

    &::-moz-placeholder {
        @content
    }

    &:-ms-input-placeholder {
        @content
    }
}

.circle {
    width: 29px;
    height: 29px;
    line-height: 25px;
    background: #C0CCDA;
    border: 3px solid #FFFFFF;
    color: white;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    -moz-background-clip: padding-box;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
}

.stepWrapper {
    display: flex;
    flex-direction: column;
    gap: 30px;
    margin: 0px 0px 20px 0px;
}

.stepBlock {
    &.circleWrapper {
        padding: 0px 20px;
        position: relative;
    }
}

.circleWrapper {
    padding-bottom: 10px;
    border-bottom: 1px solid #E5ECF2;
    display: flex;
    align-items: center;
    gap: 9px;
    color: rgba(192, 204, 218, 0.8);
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.15px;
}

.selected {
    & .circle {
        color: white;
        background: linear-gradient(180deg, #6AD5ED 0%, #49A8F8 100%);
        border: 3px solid #FFFFFF;
    }
}

.selected {
    & .circleWrapper {
        color: rgba(3, 32, 65, 0.8);
    }
}


.primaryButton {
    padding: 10px 25px;
    background: green;
    color: white;
    border: none;
    margin: 10px;
    border-radius: 4px;
    cursor: pointer;
}

.stepHolder {
    background: #FFFFFF;
    border-radius: 20px;
    padding: 50px 30px;

    @media(max-width: 576px) {
        margin-bottom: 15px;
    }
}

.postStepContent {
    background: #FFFFFF;
    border-radius: 20px;
    padding: 30px;
}

.postTitle {
    font-weight: 700;
    font-size: 24px;
    line-height: 36px;
    color: rgba(3, 32, 65, 0.8);
    text-align: center;
    margin-bottom: 35px;
}

.postDetails {
    width: 350px;
    margin: auto;
    padding-bottom: 200px;

    @media(max-width: 576px) {
        width: 100%;
    }

    .scheduleDateInput {
        background: #FFFFFF;
        border: 1px solid #49A8F8;
        border-radius: 16px;
        padding: 10px 20px;
        width: 100%;

        @include placeholder {
            font-size: 14px;
            color: #6E7191;
        }
    }
}

.socialChannels {
    width: 400px;
    margin: auto;
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding-bottom: 200px;

    @media(max-width: 576px) {
        width: 100%;
    }

    .instagramCheckbox {
        display: flex;
        align-items: center;
        gap: 15px;
        background: #F9FAFC;
        border-radius: 10px;
        padding: 5px 15px;
        position: relative;

        @media(max-width: 576px) {
            padding: 0px 5px;
            gap: 3px;
        }

        img {
            width: 25px;

            @media(max-width: 576px) {
                width: 14px;
            }
        }

        input[type="checkbox"] {
            position: absolute;
            left: -9999px;

            &+label {
                position: relative;
                display: inline-block;
                padding: 6px 10px 6px 6px;
                cursor: pointer;

                &:before {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    content: "+";
                    position: absolute;
                    right: -25px;
                    top: 25%;
                    margin: 9 0 0;
                    width: 18px;
                    height: 18px;
                    background: #9DA8B6;
                    color: white;
                    border-radius: 50%;
                    font-size: 16px;
                    font-weight: 700;

                    @media(max-width: 576px) {
                        width: 12px;
                        height: 12px;
                        font-size: 10px;
                        right: -8px;
                        top: 35%;
                    }
                }
            }

            &:checked+label {
                &:before {
                    content: "✔";
                    background: #00D67D;
                    width: 18px;
                    height: 18px;
                    font-size: 10px;

                    @media(max-width: 576px) {
                        width: 12px;
                        height: 12px;
                        font-size: 7px;
                    }
                }
            }

            &:disabled {
                &+label {
                    cursor: not-allowed;

                    &:before {
                        content: "-";
                    }
                }

            }
        }

    }

    .facebookCheckbox {
        display: flex;
        align-items: center;
        gap: 15px;
        background: #F9FAFC;
        border-radius: 10px;
        padding: 5px 15px;
        position: relative;

        @media(max-width: 576px) {
            padding: 0px 5px;
            gap: 3px;
        }

        img {
            width: 25px;

            @media(max-width: 576px) {
                width: 14px;
            }
        }

        input[type="checkbox"] {
            position: absolute;
            left: -9999px;

            &+label {
                position: relative;
                display: inline-block;
                padding: 6px 10px 6px 6px;
                cursor: pointer;

                &:before {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    content: "+";
                    position: absolute;
                    right: -30px;
                    top: 25%;
                    margin: 9 0 0;
                    width: 18px;
                    height: 18px;
                    background: #9DA8B6;
                    color: white;
                    border-radius: 50%;
                    font-size: 16px;
                    font-weight: 700;

                    @media(max-width: 576px) {
                        width: 12px;
                        height: 12px;
                        font-size: 10px;
                        right: -10px;
                        top: 35%;
                    }
                }
            }

            &:checked+label {
                &:before {
                    content: "✔";
                    background: #00D67D;
                    width: 18px;
                    height: 18px;
                    font-size: 10px;

                    @media(max-width: 576px) {
                        width: 12px;
                        height: 12px;
                        font-size: 7px;
                    }
                }
            }

            &:disabled {
                &+label {
                    cursor: not-allowed;

                    &:before {
                        content: "-";
                    }
                }

            }
        }

    }

    .twitterCheckbox {
        display: flex;
        align-items: center;
        gap: 15px;
        background: #F9FAFC;
        border-radius: 10px;
        padding: 5px 15px;
        position: relative;

        @media(max-width: 576px) {
            padding: 0px 5px;
            gap: 3px;
        }

        img {
            width: 25px;

            @media(max-width: 576px) {
                width: 14px;
            }
        }

        input[type="checkbox"] {
            position: absolute;
            left: -9999px;

            &+label {
                position: relative;
                display: inline-block;
                padding: 6px 10px 6px 6px;
                cursor: pointer;

                &:before {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    content: "+";
                    position: absolute;
                    right: -55px;
                    top: 25%;
                    margin: 9 0 0;
                    width: 18px;
                    height: 18px;
                    background: #9DA8B6;
                    color: white;
                    border-radius: 50%;
                    font-size: 16px;
                    font-weight: 700;

                    @media(max-width: 576px) {
                        width: 12px;
                        height: 12px;
                        font-size: 10px;
                        right: -33px;
                        top: 35%;
                    }
                }
            }

            &:checked+label {
                &:before {
                    content: "✔";
                    background: #00D67D;
                    width: 18px;
                    height: 18px;
                    font-size: 10px;

                    @media(max-width: 576px) {
                        width: 12px;
                        height: 12px;
                        font-size: 7px;
                    }
                }
            }

            &:disabled {
                &+label {
                    cursor: not-allowed;

                    &:before {
                        content: "-";
                    }
                }

            }
        }

    }

    .linkedinCheckbox {
        display: flex;
        align-items: center;
        gap: 15px;
        background: #F9FAFC;
        border-radius: 10px;
        padding: 5px 15px;
        position: relative;

        @media(max-width: 576px) {
            padding: 0px 5px;
            gap: 3px;
        }

        img {
            width: 25px;

            @media(max-width: 576px) {
                width: 14px;
            }
        }

        input[type="checkbox"] {
            position: absolute;
            left: -9999px;

            &+label {
                position: relative;
                display: inline-block;
                padding: 6px 10px 6px 6px;
                cursor: pointer;

                &:before {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    content: "+";
                    position: absolute;
                    right: -43px;
                    top: 25%;
                    margin: 9 0 0;
                    width: 18px;
                    height: 18px;
                    background: #9DA8B6;
                    color: white;
                    border-radius: 50%;
                    font-size: 16px;
                    font-weight: 700;

                    @media(max-width: 576px) {
                        width: 12px;
                        height: 12px;
                        font-size: 10px;
                        right: -23px;
                        top: 35%;
                    }
                }
            }

            &:checked+label {
                &:before {
                    content: "✔";
                    background: #00D67D;
                    width: 18px;
                    height: 18px;
                    font-size: 10px;

                    @media(max-width: 576px) {
                        width: 12px;
                        height: 12px;
                        font-size: 7px;
                    }
                }
            }

            &:disabled {
                &+label {
                    cursor: not-allowed;

                    &:before {
                        content: "-";
                    }
                }

            }
        }

    }
}

.genericChannel {
    width: 500px;
    margin: auto;
    padding-bottom: 100px;

    @media(max-width: 576px) {
        width: 100%;
    }

    .fileupload {
        // width: 150px;
        background: #EFF2F7;
        border-radius: 10px;
        position: relative;

        input[type="file"] {
            display: inline-block;
            opacity: 0;
            position: absolute;
            // margin-left: 20px;
            // margin-right: 20px;
            // padding-top: 30px;
            // padding-bottom: 67px;
            width: 85%;
            z-index: 99;
            margin-top: 10px;
            cursor: pointer;
        }

        .custom-file-upload {
            position: relative;
            display: inline-block;
            cursor: pointer;
            display: flex;
            align-items: center;
            gap: 15px;
            padding: 5px 20px;
            font-weight: 600;
            font-size: 12px;
            line-height: 24px;
            color: rgba(3, 32, 65, 0.8);

            @media(max-width: 576px) {
                padding: 5px 10px;
                gap: 5px;
                font-size: 12px;
            }

            div {
                width: 20px;
                height: 20px;
                border-radius: 50%;
                background: #4D81F6;
                display: flex;
                align-items: center;
                justify-content: center;
                font-size: 12px;
                color: white;

                @media(max-width: 576px) {
                    font-size: 8px;
                    width: 15px;
                    height: 15px;
                }
            }
        }
    }
}

.uploadedImageHolder {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px 10px;
    margin-bottom: 15px;

    .imageSize {
        display: flex;
        align-items: center;
        gap: 32px;

        .image {
            width: 55px;
            height: 55px;

            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }

        .imgsize {
            display: flex;
            flex-direction: column;

            p {
                margin: 0;
                padding: 0;
                margin-bottom: 5px;
                font-weight: 600;
                font-size: 16px;
                line-height: 24px;
                letter-spacing: 0.15px;
                color: rgba(17, 19, 23, 0.8);
            }
        }
    }

    .delete {
        display: flex;
        gap: 5px;
        color: #ED2E7E;
        cursor: pointer;
        margin-top: 5px;

        p {
            font-weight: 400;
            font-size: 12px;
            line-height: 18px;
            display: flex;
            align-items: center;
            letter-spacing: 0.04px;
            text-decoration-line: underline;
        }
    }
}