@mixin placeholder {
    &::-webkit-input-placeholder {
        @content
    }

    &:-moz-placeholder {
        @content
    }

    &::-moz-placeholder {
        @content
    }

    &:-ms-input-placeholder {
        @content
    }
}

.clientWrapper {
    background-color: #FFFFFF;
    border-radius: 20px;
    padding: 15px;

    .scheduleInputWrapper {
        position: relative;
        padding-bottom: 10px;

        input {
            background-color: transparent;
            border: none !important;
            border-bottom: 1px solid #E5ECF2 !important;
            padding: 5px 0px 5px 20px;
            width: 100%;

            &:focus {
                outline: none !important;
                border: none !important;
                border-bottom: 1px solid #E5ECF2 !important;
            }

            @include placeholder {
                font-size: 12px;
            }
        }

        img {
            position: absolute;
            top: 8px;
            left: -50px;
        }
    }

    .client-owner {
        display: flex;
        align-items: center;
        border-radius: 24px;
        list-style: none;
        padding: 15px 10px;
        justify-content: space-between;
        background: #F9FAFC;

        @media(max-width: 576px) {
            width: 100%;
        }

        .clientowner-IconHolder {
            width: 55px;
            height: 55px;
            display: flex;
            align-items: center;
            justify-content: center;
            background: #FFFFFF;
            box-shadow: 0px 4px 44px rgba(0, 0, 0, 0.05);
            border-radius: 16px;
        }

        .clientowner-NameHolder {
            color: #04004D;
            display: flex;
            flex-direction: column;
            justify-content: center;
            margin-top: 10px;

            h6 {
                font-weight: 600;
                font-size: 14px;
                line-height: 22px;
                letter-spacing: 0.1px;
                margin: 0;
            }

            p {
                font-size: 14px;
                line-height: 18px;
                letter-spacing: 0.04px;
            }
        }
    }

    .clientsHolder {
        display: flex;
        flex-direction: column;
        gap: 10px;

        ul {
            list-style: none;
            padding: 0px;

            .client-chart {
                display: flex;
                align-items: center;
                border-radius: 24px;
                list-style: none;
                padding: 15px 10px;
                justify-content: space-between;

                &.active {
                    background-color: #F9FAFC;
                }


                @media(max-width: 576px) {
                    width: 100%;
                }

                .chartIconHolder {
                    width: 55px;
                    height: 55px;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    background: #FFFFFF;
                    box-shadow: 0px 4px 44px rgba(0, 0, 0, 0.05);
                    border-radius: 16px;
                }


                .clientNameHolder {
                    color: #04004D;
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    margin-top: 10px;

                    h6 {
                        font-weight: 600;
                        font-size: 14px;
                        line-height: 22px;
                        letter-spacing: 0.1px;
                        margin: 0;
                    }

                    p {
                        font-size: 14px;
                        line-height: 18px;
                        letter-spacing: 0.04px;
                    }
                }
            }
        }

        .no-clients {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            padding-bottom: 30px;

            p {
                max-width: 184px;
                font-weight: 400;
                font-size: 12px;
                line-height: 21px;
                letter-spacing: 0.374px;
                color: #000000;
            }

            .addclient {
                margin-top: 40px;
                border: none !important;
                background: #2062F4 !important;
                border-radius: 10px !important;
                color: white !important;
                font-weight: 700 !important;
                font-size: 12px !important;
                padding: 10px 30px 10px 20px !important;
                display: flex;
                align-items: center;
                gap: 20px;
                cursor: pointer;

                .plus {
                    width: 20px;
                    height: 20px;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    border: solid;
                    background: #FFFFFF;
                    border-Radius: 50%;
                    color: #2062F4;
                    font-size: 10px;
                }
            }
        }
    }
}

.postWrapper {
    border: solid;

    .topnav {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-top: 10px;

        h6 {
            font-weight: 600;
            font-size: 20px;
            line-height: 28px;
            display: flex;
            align-items: center;
            letter-spacing: 0.35px;
            color: #111317
        }

        a {
            background: #2062F4;
            border-radius: 10px;
            text-decoration: none;
            padding: 5px 30px;
            cursor: pointer;

            h5 {
                font-weight: 700;
                font-size: 14px;
                line-height: 21px;
                display: flex;
                align-items: center;
                text-align: center;
                letter-spacing: 1.25px;
                color: #F7F7FC;
            }
        }
    }

    .socialChannelWrapper {
        background: #FFFFFF;
        border-radius: 20px;
        margin-top: 20px;
        padding: 30px 52px;


        @media(max-width: 576px) {
            padding: 0px;
        }
    }
}

.row-post {
    display: flex;
    align-items: center;
    gap: 14px;

    @media(max-width: 576px) {
        flex-direction: column;
    }

    .post-image {
        width: 122px;
        height: 87px;
        padding: 0px 20px;
        background: #E5ECF2;
        border-radius: 10px;

        img {
            height: 100%;
        }
    }

    .post-title-name {
        h2 {
            font-weight: 500;
            font-size: 11px;
            line-height: 16px;
        }

        .post-user {
            display: flex;
            gap: 10px;
            background: #F9FAFC;
            border-radius: 20px;
            padding: 4px 21px 4px 4px;

            h2 {
                margin-top: 5px;
                font-weight: 400;
                font-size: 12px;
                letter-spacing: 0.25px;
                color: rgba(17, 19, 23, 0.8);

            }
        }
    }
}

.post-postType {
    font-weight: 400;
    width: 100px;
    margin-left: -10px;
    font-size: 12px;
    line-height: 18px;
    // text-align: center;
    letter-spacing: 0.04px;
    color: #111317;
    // @media(max-width: 576px) {
    //     font-size: 10px;
    // }

}

.post-date-time {
    font-weight: 400;
    font-size: 12px;
    line-height: 18px;
    margin-left: -10px;
    // text-align: center;
    letter-spacing: 0.04px;
    // @media(max-width: 576px) {
    //     font-size: 10px;
    // }
}

.post-status {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-left: -10px;

    div {
        width: 7px;
        height: 7px;
        border-radius: 50%;
    }

    p {
        font-weight: 500;
        font-size: 12px;
        line-height: 18px;
        text-align: center;
        letter-spacing: 0.04px;
        // @media(max-width: 576px) {
        //     font-size: 10px;
        // }
    }
}

.pending {
    color: #FF2154;

    div {
        background: #FF2154;
    }
}

.published {
    color: #57D9A3;

    div {
        background: #57D9A3;
    }
}

.scheduled {
    color: #2062F4;

    div {
        background: #2062F4;
    }
}

.draft {
    color: #565C65;

    div {
        background: #565C65;
    }
}

.filterPost {
    display: flex;
    align-items: center;
    gap: 18px;

    @media(max-width: 576px) {
        gap: 5px;
        flex-direction: column;
    }


    .poststatus {
        display: flex;
        align-items: center;
        position: relative;
        gap: 16px;
        background: #E8F7FF;
        border-radius: 5px;
        padding: 0px 10px;

        // width: 194px;
        @media(max-width: 576px) {
            width: 100%;
        }

        .smallcircle {
            width: 25px;
            height: 22px;
            background: #FFFFFF;
            border-radius: 5px;
            display: flex;
            align-items: center;
            justify-content: center;
            // border: solid;
        }

        .selectpost {
            display: flex;
            align-items: center;
            // font-weight: 400;

            // position: relative;
            h6 {
                margin-top: 6px;
                font-weight: 400;
                font-size: 12px;
                line-height: 18px;
                // @media(max-width: 576px) {
                //     margin-top: 25px;
                // }

            }

            .selectholder {
                position: relative;

                select {
                    background-color: transparent;
                    border: none;
                    -webkit-appearance: none;
                    -moz-appearance: none;
                    appearance: none;
                    width: 50px;
                    font-weight: 400;
                    font-size: 12px;
                    line-height: 18px;

                    option {
                        background: white;
                    }

                    &:focus {
                        outline: none !important;
                        border: none !important;
                    }
                }

                .mask {
                    position: absolute;
                    top: 5px;
                    right: 3px;
                }
            }

        }
    }

    .postime {
        display: flex;
        align-items: center;
        position: relative;
        background: #E5ECF2;
        border-radius: 5px;
        gap: 16px;
        padding: 0px 10px;

        @media(max-width: 576px) {
            width: 100%;
        }

        // @media(max-width: 576px) {
        //     gap: 5px;
        // }
        .smallcalendar {
            width: 25px;
            height: 22px;
            background: #FFFFFF;
            border-radius: 5px;
            display: flex;
            align-items: center;
            justify-content: center;
        }

        .timepost {
            display: flex;
            align-items: center;

            h6 {
                margin-top: 8px;
                font-weight: 400;
                font-size: 12px;
                line-height: 18px;

                @media(max-width: 576px) {
                    margin-top: 15px;
                }
            }

            .timeholder {
                position: relative;

                select {
                    background-color: transparent;
                    border: none;
                    -webkit-appearance: none;
                    -moz-appearance: none;
                    appearance: none;
                    width: 180px;
                    font-weight: 400;
                    font-size: 12px;
                    line-height: 18px;

                    // @media(max-width: 576px) {
                    //     width: 65px;
                    // }

                    option {
                        background: white;
                    }

                    &:focus {
                        outline: none !important;
                        border: none !important;
                    }
                }

                .calendar {
                    position: absolute;
                    right: 5px;
                    top: 5px;

                    @media(max-width: 576px) {
                        right: 10px;
                        // left: -67px;
                        top: 8px;
                        // width: 10px;
                    }
                }
            }
        }

    }
}

.inputholder {
    position: relative;

    @media(max-width: 576px) {
        margin-top: 5px;
    }

    .input {
        border: 1px solid #C0CCDA !important;
        border-radius: 5px !important;
        width: 100%;
        padding: 5px 30px;

        &:focus {
            outline: none !important;

        }
    }

    img {
        position: absolute;
        top: 10px;
        left: 10px;
    }

}