/* .circle{
    width: 29px;
    height: 29px;
    line-height: 25px;
    background: #C0CCDA;
    border: 3px solid #FFFFFF;
    color: white;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    -moz-background-clip: padding-box;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
}

.stepWrapper {
    display: flex;
    flex-direction: column;
    margin: 0px 0px 20px 0px;
}


.stepBlock .circleWrapper {
    padding: 0px 20px;
    position: relative;
}

.circleWrapper {
    border: solid blue;
    display: flex;
}

.selected .circle {
    color: white;
    background: linear-gradient(180deg, #6AD5ED 0%, #49A8F8 100%);
    border: 3px solid #FFFFFF;
} */

/* .circleWrapper::after{
    content: '';
    width:100%;
    height: 2px;
    position: absolute; 
     top: 0px;
    bottom: 0px;
    background-color: green;
    margin: auto;
    z-index: -1;
} */

/* .stepBlock:not(:last-child) > .circleWrapper ::after {
    content: '';
    width:100%;
    height: 2px;
    position: absolute;
    top: 0px;
    bottom: 0px;
    background-color: green;
    margin: auto;
    z-index: -1;
}

.stepBlock:not(:last-child) > .circleWrapper::after{
    height: 3px;
}

.stepBlock:not(:last-child).selected > .circleWrapper::after, .stepBlock:not(:last-child).selected ~ .stepBlock:not(:last-child) > .circleWrapper::after{
    height: 2px;
} */

/* .primaryButton {
    padding: 10px 25px;
    background: green;
    color: white;
    border: none;
    margin: 10px;
    border-radius: 4px;
    cursor: pointer;
} */